<%- include('partials/header.ejs') %>

    <h1>Catégories des produits </h1>
<ul class="cards">
    <li class="card"><a href="">Homme</a></li>
<li class="card"><a href="">Femme</a></li>
<li class="card"><a href="">Enfant</a></li>
</ul>
 
  

<%- include('partials/footer.ejs') %>