<%- include('partials/header.ejs') %>

    <h1>Catégories des produits </h1>
<ul>
    <li><a href=""></a>Homme</li>
<li><a href=""></a>Femme</li>
<li><a href=""></a>Enfant</li>
</ul>


  

<%- include('partials/footer.ejs') %>