<%- include('partials/header.ejs') %>

    <h1>Liste des produits </h1>
<ul class="cards">
   <% for (const produitGarment of produitsList) {%>
    <li class="cards"><a href="/produitdetails/<%=produitGarment.id %>"><%= produitGarment.nom %></a></li>
   <% } %>
</ul>


<%- include('partials/footer.ejs') %>